.toolbar {
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 10px;
  height: 50px;
  width: auto;
  min-width: 350px;
  padding: 0 5px;
  box-shadow: 1px 1px 20px 1px #ccc;
}

.toolbar .card-block {
  padding: 0;
}

.toolbar button, .toolbar .btn {
  padding: 9px 10px;
  background-color: transparent;
  border: 0;
  color: #999;
}

.toolbar a#menu-btn {
  color: #666;
}

.toolbar .icon-bar {
  border-radius: 1px;
  display: block;
  height: 3px;
  width: 22px;
  background-color: #888;
  margin-bottom: 5px;
}

.toolbar input[type='search'] {
  font-size: 1.5em;
  border: 0;
  vertical-align: -3px;
}

.toolbar input[type='search']:focus {
  outline: none;
}

#dragBoxBtn {
  display: none;

  padding: 9px 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 125;
}

@media (max-width: 544px) {
  .toolbar {
    right: 10px;
    min-width: unset;
  }
}

/* FIXME this will not work on high resolution tablets */
@media (max-width: 768px) {
  #dragBoxBtn {
    display: block;
  }
}
