<section class='card-block'>
  <p>
    <a [routerLink]="'./new'" class="btn btn-lg btn-primary">New record</a>
    <!-- <a [routerLink]="'./reports'" class="btn btn-lg btn-secondary">View reports</a> -->
  </p>
  <h4>Recent cleanings</h4>
  <div class="list-group">
    <a *ngFor='let lc of lineCleanings' [routerLink]="lc.id" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{lc.cleaned_on | date:'shortDate'}}</h5>
        <small>{{lc.cleaned_by}}</small>
      </div>
      <p class="mb-1">{{lc.remarks}}</p>
      <small>{{lc.pipes.length}} segments</small>
    </a>
  </div>
</section>